{extend name="common/layout" /}

{block name="content"}
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-set" data-toggle="tooltip" title="保存" class="btn btn-primary">
                    <i class="fa fa-save"></i>
                </button>
                <a href="{:url('index')}" data-toggle="tooltip" title="取消" class="btn btn-default">
                    <i class="fa fa-reply"></i>
                </a>
            </div>
            <h1>品牌</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="{:url('Manage/index')}">首页</a>
                </li>
                <li>
                    <a href="{:url('index')}">品牌</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-pencil"></i>
                    设置
                </h3>
            </div>
            <div class="panel-body">
                <form action="{:url('set', ['id'=>isset($data['id'])?$data['id']:null])}" method="post" enctype="multipart/form-data" id="form-set" class="form-horizontal">
                    {if condition="isset($data['id'])"}
                        <input type="hidden" id="input-id" name="id" value="{$data['id']}">
                    {/if}
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-general">

                                                            <div class="form-group required">
                                    <label class="col-sm-2 control-label" for="input-title">品牌</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="title" value="{$data['title']|default=''}" placeholder="品牌" id="input-title" class="form-control" />
                                        {if condition="isset($message['title'])"}
                                            <label for="input-title" class="text-danger">{$message['title']}</label>
                                        {/if}
                                    </div>
                                </div>

                                <div class="form-group required">
                                    <label class="col-sm-2 control-label" for="input-logo">LOGO</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="logo" value="{$data['logo']|default=''}" placeholder="LOGO" id="input-logo" class="form-control" />
                                        {if condition="isset($message['logo'])"}
                                            <label for="input-logo" class="text-danger">{$message['logo']}</label>
                                        {/if}
                                    </div>
                                </div>

                                <div class="form-group required">
                                    <label class="col-sm-2 control-label" for="input-site"></label>
                                    <div class="col-sm-10">
                                        <input type="text" name="site" value="{$data['site']|default=''}" placeholder="" id="input-site" class="form-control" />
                                        {if condition="isset($message['site'])"}
                                            <label for="input-site" class="text-danger">{$message['site']}</label>
                                        {/if}
                                    </div>
                                </div>

                                <div class="form-group required">
                                    <label class="col-sm-2 control-label" for="input-sort"></label>
                                    <div class="col-sm-10">
                                        <input type="text" name="sort" value="{$data['sort']|default=''}" placeholder="" id="input-sort" class="form-control" />
                                        {if condition="isset($message['sort'])"}
                                            <label for="input-sort" class="text-danger">{$message['sort']}</label>
                                        {/if}
                                    </div>
                                </div>



                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{/block}

{block name="appendJs"}
    <script type="text/javascript" src="__STATIC__/validate/jquery.validate.min.js"></script>
    <script type="text/javascript" src="__STATIC__/validate/additional-methods.min.js"></script>
    <!--初始化模板数据到js中-->
    <script>
        // 初始化JS变量的方式, 存储URL
    </script>

    <!--表单验证-->
    <script>
        $(function() {
            $('#form-set').validate({
                // 规则
                rules:{
                },
                // 消息
                messages:{
                },
                // 错误类
                errorClass: 'text-danger'
            });
        });
    </script>
{/block}